.Box{
    background-color:rgb(243, 229, 229);
    padding: 20px;
    width:auto ;
    height: auto;
    border-radius: 20px;
   
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
img{
    width: 125px;
    align-self:center;
    border-radius: 50%;
} 
button:hover{
    background-color: rgb(228, 178, 178);
    color: white;
    cursor: pointer;
}
 .target{
     display: flex;
     align-items: center;
     justify-items: center;
     width: 100%;
 }
 .name{
    font-size: 35px;
    
 }
 box-icon{
   width: 40px;
     
 }